@import '../../Static/scss/settings/variables';
@import '../../Static/scss/settings/unit';

.o-btn {
  appearance: none;
  background: transparent;
  padding: 0;
  border: 1px solid $palette-tertiary;
  text-decoration: none;
  border-radius: $global-border-radius;
  display: inline-block;
  line-height: 1.7;
  padding: rem-calc(13 15);
  position: relative;
  transition: all 200ms ease-in-out;
  text-align: center;
  font-weight: bold;
  background-color: $palette-tertiary;
  color: $palette-secondary;
  box-shadow: 0px 5px 5px rgba(55, 81, 255, 0.2);
  min-width: rem-calc(163);

  &--primary {
    background-color: $palette-primary;
    color: $palette-tertiary;
    box-shadow: 0px 5px 5px rgba(55, 81, 255, 0.2);
    border: 1px solid $palette-primary;
  }

  &--secondary {
    background-color: transparent;
    color: $palette-primary;
    border: 1px solid $palette-primary;
    box-shadow: none;
  }
}