@font-face {
  font-family: "Proxima Nova";
  src: url("/Static/fonts/ProximaNova-Regular.otf") format("otf");
  font-weight: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/Static/fonts/ProximaNova-SemiBold.otf") format("otf");
  font-weight: bold;
}